  * {
  font-family: 'Do Hyeon', sans-serif;
  }

  body {
    background-color: #222222;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .wrap {
    width: 320px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .headcopy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 260px;
  }

  .main {
    color: #FFFFFF;
    font-size: 27px;
    size: 20px;
    font-weight: 800;
    margin: 0%;
  }

   .main:hover {
    color: red;
    transition: color 800ms ease-in-out;
  }

  .sub {
    color: #B1B1B5;
    font-size: 14px;
    font-weight: 400;
    size: 14px;
    margin-top: 10px;
  }

  .sub:hover {
    font-size: 36px;
    transition: font-size 500ms ease-in-out;
  }

  .profile {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid gold;
    background-color: #fff;
    background-image: url('./images/santa.png');
    background-position: center;
    background-size: cover;
  }

  .profile:hover {
    opacity: .5;
    transform: scale(1.1);
    transform: rotateY(360deg);
    border: 2px solid red;
    transition: all 300ms ease-in-out;
  }

  .bigs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .bigs > div:first-child {
    margin-right: 10px;
  }

  .bigs > div {
    width: 123px;
    /* height: 100px; */
    background-color: white;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px 16px 16px;
    border-radius: 8px;
  }

  .name {
    font-size: 22px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 45px;
  }

  .btn {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: #db4932;
  border-radius: 4px;
  padding: 6px 12px;
  }

  .btn:hover {
    background-color: #407e38;;
    transition: background-color 300ms ease-in-out;
  }


